<ngx-d3timeline
  [activities]="activities"
  [view]="[width, height]"
  [options]="options"
  (activityDropped)="onDropped($event)"
  (hovered)="onHovered($event)"
  (unhovered)="onUnhovered($event)"
></ngx-d3timeline>

<div>
  <label>Width</label>
  <input [(ngModel)]="width" />
</div>

<div>
  <label>Height</label>
  <input [(ngModel)]="height" />
</div>

<div>
  <label>Resource Gap (0-1)</label>
  <input [(ngModel)]="resourceGap" />
</div>

<button (click)="flipOrientation()">Flip Orientation</button>
<span>{{ options.orientation }}</span>
