<ng-container *ngIf="options$ | async as options">
  <ngx-rxtimeline
    [activities]="activities"
    [style.width]="width"
    [style.height]="height"
    [options]="options"
    [selectedId]="selectedId"
    [hoveredId]="hoveredId"
    (activityDropped)="onDropped($event)"
    (resourceHovered)="onHovered($event)"
    (resourceUnhovered)="onUnhovered($event)"
    (resourceSelected)="onSelected($event)"
    (activityHovered)="onHovered($event)"
    (activityUnhovered)="onUnhovered($event)"
    (activitySelected)="onSelected($event)"
    class="demo-app"
  ></ngx-rxtimeline>

  <div>
    <label>Width</label>
    <input [(ngModel)]="width" />
  </div>

  <div>
    <label>Height</label>
    <input [(ngModel)]="height" />
  </div>

  <div>
    <label>Resource Gap (0-1)</label>
    <input
      [value]="options.resource.gap"
      (keyup)="
        update('resource', options.resource, { gap: +$event.target.value })
      "
    />
  </div>
  <div>
    <label>Resource padding</label>
    <input
      [value]="options.resource.padding"
      (keyup)="
        update('resource', options.resource, { padding: +$event.target.value })
      "
    />
  </div>

  <button (click)="flipOrientation(options)">Flip Orientation</button>
  <span>{{ options.orientation }}</span>

  <div>
    <span>Resource Axis options</span>
    <div>
      <input
        type="checkbox"
        [checked]="options.resourceAxis.showGridLines"
        (change)="
          update('resourceAxis', options.resourceAxis, {
            showGridLines: !options.resourceAxis.showGridLines
          })
        "
      />
      <label>Show grid lines</label><br />
    </div>
    <div>
      <input
        type="checkbox"
        [checked]="options.resourceAxis.showAxisLine"
        (change)="
          update('resourceAxis', options.resourceAxis, {
            showAxisLine: !options.resourceAxis.showAxisLine
          })
        "
      />
      <label>Show axis lines</label><br />
    </div>
    <div>
      <input
        [value]="options.resourceAxis.tickLineLength"
        (keyup)="
          update('resourceAxis', options.resourceAxis, {
            tickLineLength: +$event.target.value
          })
        "
      />
      <label>Tick line length</label><br />
    </div>
  </div>
  <div>
    <span>Time Axis options</span>
    <div>
      <input
        type="checkbox"
        [checked]="options.timeAxis.showGridLines"
        (change)="
          update('timeAxis', options.timeAxis, {
            showGridLines: !options.timeAxis.showGridLines
          })
        "
      />
      <label>Show grid lines</label><br />
    </div>
    <div>
      <input
        type="checkbox"
        [checked]="options.timeAxis.showAxisLine"
        (change)="
          update('timeAxis', options.timeAxis, {
            showAxisLine: !options.timeAxis.showAxisLine
          })
        "
      />
      <label>Show axis lines</label><br />
    </div>
    <div>
      <input
        [value]="options.timeAxis.tickLineLength"
        (keyup)="
          update('timeAxis', options.timeAxis, {
            tickLineLength: +$event.target.value
          })
        "
      />
      <label>Tick line length</label><br />
    </div>
  </div>
</ng-container>
